

#root{
  background: 
    url( /items/my-react-components/vertical-navbar/fachry-zella-devandra-577883-unsplash.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}






/* background: rgba(0, 0, 0, .7), url(/fachry-zella-devandra-577883-unsplash.jpg) no-repeat center center;
background-size: cover; */